body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

#divMain {
  background-color: #EEEEEE;
  margin-top: 20px;
  padding: 10px;
}

#divMain label {
  font-weight: bold;
}

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

#listGroup li {
  cursor: pointer;
}
